@import "bourbon/bourbon";




body{
  font-family: Arial, sans-serif;
  .fa {
    color: white;
  }
}

.nav-bar{
  height: 40px;
  width: 100%;
  position: fixed;
//  border: 1px solid black;
  top: 0;
  z-index: 10;
  margin-left: -2px;


  ul{
    float: right;

  }

  li{
    display: inline-block;
    padding: 5px;
  }

  a:link, a:visited{
    color: white;
    text-decoration: none;

  }


}

//SECTION ONE STYLES//
#sec-one{
    background-image: url('../images/waterboat.jpeg');//TEMP BACKGROUND IMAGE//
//    background-color: cadetblue;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px #636363;

  h1{
//    border: 1px solid black;
    width: 400px;
    padding: 10px 0px 10px 35px;
//    background-color: rgba(255, 239, 213, .7) ;
    margin-bottom: -20px;



  }

  h2{
    width: 400px;
//    background-color: rgba(255, 239, 213, .7) ;
    padding: 10px 100px 10px 10px;
    margin-left: -170px;

  }




  .scrolldown{

    text-align: center;
    height: 60px;
    width: 100%;
//    border: 1px solid black;
    bottom: 0;
    position: fixed;
    z-index: 0;

    p{

    }


  }

}

//SECTION TWO STYLES//

#sec-two {
  background-image: url("../images/deskmouse.jpg");//TEMP BACKGROUND IMAGE//
  background-size: cover;

  .pagetwo{
    border:1px solid black;
    width: 50%;
    margin: 0 auto;


  }
}

//SECTION THREE STYLES//

#sec-three {
  background-color: darkslategray;
  background-size: cover;

  .slideContent{
    width: 60%;
    height: 50%;
    margin:0 auto;
    background-color: rgba(255, 239, 213, .4) ;

    h1{
      color: black;
      text-align: center;
    }
  }



}


//SECTION FOUR STYLES//
#sec-four {
//  background-image: url("../images/blurredbg4.jpg");//TEMP BACKGROUND IMAGE//
  background-size: cover;


}

//FOOTER STYLE//

footer{
  height: 40px;
  width: 100%;
  border: 1px solid black;
  bottom: 0;
  position: fixed;
  z-index: 0;
}

//SLIDE IN TEST//

.span2, .span1, .span3, .span4 {
  opacity: .0;
}

//.span2, .span4{
//  text-align: right;
//}

//MEDIA QUERIES//

@media(max-width: 480px){
  #sec-one{
    h1{
      margin-left: -160px;
      font-size: 1.8em;
    }

    h2{
      margin-left: -220px;
      font-size: 1em;
      margin-top: 20px;
    }

  }


}